---
title: 'AI Engineering Era'
date: '2025-08-05'
slug: 'ai-eng-era'
lang: 'en'
duration: '1min'
tags: ['Golang']
---

## What I learn in past two months
<div class="flex justify-center">
<img src="/photography_assets/22.webp" alt="22.webp" class="photo-post">
</div>

