---
title: 'Testing RSS Feed'
date: '2025-05-26'
slug: 'test-rss-feed'
lang: 'en'
duration: '1min'
tags: ['Career']
---

## Presentation at HP

Today, I gave a presentation at HP, and it was entirely in English. This was my first time standing on a stage and speaking English in public. It felt a bit embarrassing, but it was also a great experience!