---
title: 'The integration of knowing and doing'
date: '2025-05-14'
slug: 'the-integration-of-knowing-and-doing'
lang: zh-tw
duration: 2min
tags: ['Life']
---

知行合一很重要，我很常這樣告誡自己，縱使社會以及台灣的教育體制無形中會把人給限制住，但內心所想千萬不能被埋沒掉，或許你能騙得了別人，也能騙得了自己一陣子，但騙不了自己一輩子。做一些你想做的事情、學一些你想學的東西，真誠對待你喜歡的人。

共勉之。