---
title: 'tom.changelog'
date: '2025-05-13'
slug: 'tomchangelog'
lang: 'zh-tw'
duration: '2min'
tags: ['Life']
---

感謝蒞臨本網站，很開心能遇見你，這是我第二次架了自己的網站，在過程中很開心能運用到跟網路程式有關的知識，雖然在台灣這好像不是很主流也不是很被看重的，但果然還是自己開心最重要啊。

最近 Instagram 的廣告越來越多了，而且有時候看到後面會不自覺地比較別人的生活，越看越沮喪，所以打算用一個自己的網站，分享生活的東西還有學習歷程。所以，嗨，不管是誰有路過這邊，很高興你發現我了！

對了，現在這個網站是靜態的，我想我會持續開發，然後讓這個網站運行得更流暢，一起期待吧！